<div id="MainPage">
    @* ViewBag: Products: List<Products>, Filters: {List<TypeFilterWithValue>, List<TechSpecFilterWithValue>} *@
    @*@Html.Partial("DisplayPage", new ViewDataDictionary { { "Products", ViewBag.Products }, { "Filters", ViewBag.Filters } })*@
    @Html.Partial("DisplayPage")
</div>
