@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/Header.cshtml";
}

@*<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed top</a>
    </div>
</nav>*@


<h2>Search</h2>

